<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>llnews-首页</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
	<script src="__STATIC__/jquery-2.js" type="text/javascript" charset="utf-8"  ></script>

	<script src="__STATIC__/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"  ></script>
	<link rel="stylesheet" href="__P__/css/style.css">

</head>
<body>


{include file="public/nav" }
		 





	<div class="wrap row">




		{include file="public/memberleft" }

			<div class="newslist col-md-6   col-sm-8">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead >
							<td>id</td>
							<td>申请身份</td>
							<td>申请时间</td>
							<td>申请进度</td>
							<td>通过时间</td>
						</thead>

						{volist name="applylist" id="al"}
						  <tr>
							  <td>{$al.ll_apid}</td>
							  <td>{$al.ll_typename}</td>
							  <td>{$al.ll_aptime}</td>
							  <td>
								  {switch name="$al['ll_pass']" }
								  {case value="1" }通过{/case}
								  {case value="2"}审核中{/case}
								  {case value="3"}拒绝{/case}
								  {default /}审核中
								  {/switch}
							  </td>
							  <td>{$al.ll_ptime}</td>
						  </tr>
						{/volist}

					</table>
				</div>
			</div>

		
	</div>

<script>
$(document).ready(function(){
    $("#myNav").affix({
        offset: { 
            top: 125 ,

      }
    });
});
</script>

</body>
 
</html>