<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>llnews-首页</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
	<script src="__STATIC__/jquery-2.js" type="text/javascript" charset="utf-8"  ></script>

	<script src="__STATIC__/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"  ></script>
	<link rel="stylesheet" href="__P__/css/style.css">

</head>
<body>


{include file="public/nav" }
		 





	<div class="wrap row">




		{include file="public/memberleft" }

			<div class="newslist col-md-6   col-sm-8">
				 <form action="{:url('member/modify')}" method="post">

					 <div class="form-group">
						 <label for="ll_username">用户id</label>
						 <input type="text" class="form-control" id="ll_uid" name="ll_uid" value="{$umsg.ll_uid}" disabled="" >
						 <input type="hidden" name="ll_uid" value="{$umsg.ll_uid}"  >
					 </div>

					  <div class="form-group">
					    <label for="ll_username">用户名</label>
					    <input type="text" class="form-control" id="ll_username" name="ll_username" value="{$umsg.ll_username}"   >

					  </div>
					  <div class="form-group">
					    <label for="ll_typename">身份</label>
					    <input type="text" class="form-control" id="ll_typename" name="ll_typename" value="{$umsg.ll_typename}"  disabled>
					  </div>

					    <div class="form-group">
						    <label for="ll_password">新密码</label>
						    <input type="password" class="form-control" id="ll_password" name="ll_password" value="">
						  </div>
						   <div class="form-group">
						    <label for="qpassword">确认密码</label>
						    <input type="password" class="form-control" id="qpassword" name="qpassword" value="">
						  </div>
					 
					   
					  <button type="submit" class="btn btn-default">修改</button>
					</form>	
			</div>

		
	</div>

<script>
$(document).ready(function(){
    $("#myNav").affix({
        offset: { 
            top: 125 ,

      }
    });
});
</script>

</body>
 
</html>