<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">llnews</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:url('index/index')}">首页 </a></li>
                <li ><a href="#">广州 7° </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">




                {if condition="session('slogin')"}
                <li><a href="{:url('member/index')}">你好，{$Think.session.ll_susername}</a></li>
                <li><a href="{:url('login/logout')}" onclick="return confirm('你真的要退出吗')">退出</a></li>

                {else /}
                <li><a href="{:url('login/login')}" >登录</a></li>

                {/if}

            </ul>
        </div>
    </div>
</nav>
